<div class="container-fluid">
	<div class="row">
		<div class="col-md-4-offset-3">
			<div class="well">
				<p>
				  <%= @pin.description %>
				</p>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
				<%= link_to 'Back', pins_path %>
			</div>
		</div>
	</div>
</div>

