
$navbarBackgroundHighlight: white
$navbarBackground: white



@import "bootstrap-sprockets"
@import "bootstrap"



body 
	padding-top: 60px

.footer
	margin-top: 50px
	color: #999
	a
		color: #555

.navbar-inner
	@include box-shadow(none !important)
	border: 0
.btn
	@include button-variant(white, green, black)